//Конвертируется в .css в папку /css/

@import '_fonts';
@import '_media';

body{
    background-color: #311432;
    height: 100%;
    color: white;
}
a{
    text-decoration: none;
}
.logo{
    @include BoldUpFonts;
}
.header{
    margin-top: 20px;
}
.menu{
    margin-top: 10px;
    display: flex;
    float: right;
    list-style-type: none;
}
.menu_nav{
    margin-right: 30px;
    @include BoldUpFonts;
    font-size: 20px;
    transition: .2s ease;
    cursor: pointer;
}
.menu_nav:hover{
    color: #7331FF;
}
.block_hello{
    margin-top: 60px;
    width: 100%;
    height: 300px;
    background-image: url(../assets/create-img.png);
    background-position-y: 1%;
}
.block_information{
    text-align: center;
    padding-top: 110px;
    font-weight: 700;
    @include BoldDownFonts;
}
.registration{
    font-weight: 700;
    @include BoldDownFonts;
    font-size: 40px; 
}
.block_message{
    margin-top: 50px;
    text-align: center;
}
.inf{
    @include RegularDownFonts;
    font-size: 17px;
    font-weight: 700;
}
.btn-test{
    @include BoldUpFonts;
    font-size: 15px;
    border: none;
    background-color: #259F38;
    padding: 15px 60px;
    color: white;
    transition: .2s ease;
}
.btn-test:hover{
    box-shadow: 0px 0px 20px 0px rgb(83 78 78);
}
.block_btn{
    margin-top: 10px;
    text-align: center;
}

//footer
.footer{
    position: absolute;
    bottom: 0;
    margin-top: 100px;
	width: 100%;
	height: 80px;
}
.block_social{
    text-align: center;
    margin-bottom: 10px;
}
.vk-hover{
    font-size: 35px;
    color: white;
    margin-right: 30px;
    transition: .2s ease;
}
.vk-hover:hover{
    color: rgb(0, 119, 255);
}
.discord-hover{
    font-size: 35px;
    color: white;
    transition: .2s ease;
}
.discord-hover:hover{
    color: #5865f2
}
.name_project{
    @include BoldUpFonts;
    font-size: 20px;
    text-align: center;
}
